.row {
  justify-content: center;
  .parameters {
    font-weight: bold;
  }
  .buttons {
    margin-left: 5px;
  }
  #buttons {
    position: relative;
    right: -133px;
  }
  .form-group {
    text-align: center;
  }
  input {
    text-align: center;
  }
}

@media (max-width: 425px) {
  #buttons {
    text-align: center;
    position: unset !important;
  }
  .form-group {
    padding-left: 15px !important;
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
  #buttons {
    right: -187px !important;
  }
}
