<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Welcome!</h5>
        <p id="welcome">
          Welcome to your Recipes Book! In this website, you will be able to
          write new recipes, edit them or even delete those ones that you do not
          need anymore. In addition, you can make a shopping list from the
          scratch, giving yourself the chance to remember everything you need to
          make your great dishes. <b>Enjoy!</b>
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">The Author:</h5>
        <div class="footer-copyright text-center py-3">
          © 2019 Copyright:
          <a id="github" href="https://github.com/OriOrihuela"> OriOrihuela</a>
        </div>
      </div>
    </div>
  </div>
</footer>
