.page-footer {
  background-color: black;
  color: white;
  .text-uppercase {
    text-align: center;
  }
  #welcome {
    text-align: justify;
  }
  #github {
    font-weight: bold;
    text-decoration: none;
  }
}
