.row {
    justify-content: center;
    position: relative;
    top: 65px;
    hr {
        background-color: black;
    }
    a {
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
    }
    ul {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
    .row {
      top: 215px;
    }
  }