#ingredients {
  margin-top: 10px;
}
#saveOrCancel {
  margin-top: 20px;
  #cancel {
    float: right;
  }
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
#imagePreview {
  max-width: 300px;
  max-height: 250px;
}