#ingredients {
  margin-top: 10px;
}
#saveOrCancel {
  margin-top: 20px;
  #cancel {
    float: right;
  }
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
#imagePreview {
  height: 200px;
  width: 300px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  text-align: center;
}

.form-group {
  text-align: center;
}