h3 {
  text-align: center;
  position: relative;
  top: 155px;
}

@media (max-width: 425px) {
  h3 {
    top: 70px;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
  h3 {
    top: 300px;
  }
}
