<div class="row" [@fadeIn]>
  <div class="col-xs-12 col-md-4">
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <div *ngIf="isLoading" id="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmitForm(form)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email" class="credentials">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password" class="credentials">Password</label>
        <label for="password" id="info-label" *ngIf="!isLoginMode">
          (8 min. length + 1 cap letter + 1 special symbol)</label
        >
        <input
          type="password"
          id="password"
          class="form-control"
          pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
          formControlName="password"
          required
        />
      </div>
      <div id="buttons">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
